@import 'theme/colors.scss';
$item-padding: 8px;
$item-inner-padding: 18px;
$thumb-size: 310px;

#doctors-list {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;

    .placeholder-wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: stretch;
        justify-content: center;
        padding: $item-padding/2;
        flex: 1;

        .placeholder {
            display: flex;
            flex-direction: column;

            justify-content: center;

            .placeholder-sprite-wrapper {
                flex-direction: column;
                align-items: center;
                display: flex;

                img {
                    width: 104px;
                    margin-bottom: 4px;
                }
            }

            .placeholder-label {
                // height: 142px;
                width: 480px;
                overflow: hidden;
                position: relative;

                .placeholder-gradient {
                    opacity: 0.4;
                    position: absolute;
                    height: 142px;
                    width: 480px;
                    transform: rotate(-180deg);
                    opacity: 0.4;
                }

                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                .placeholder-label-1 {
                    color: white;
                    font-size: 20px;
                }

                .placeholder-label-2 {
                    color: white;
                    font-size: 16px;
                }
            }
        }
    }

    & > ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: stretch;
        justify-content: center;
        padding: $item-padding/2;
        flex: 1;

        & > li.doctor-wrapper {
            padding: $item-padding;
            display: flex;
            font-size: 13.5px;
            text-align: left;
            color: rgba(33, 33, 33, 0.8);

            & > .doctor {
                &:hover {
                    outline: none;
                }
                background-color: rgba(255, 255, 255, 0.8);
                transition-property: box-shadow;
                transition-duration: 100ms;
                transition-timing-function: ease-in;
                width: $thumb-size;
                box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);

                padding-bottom: 17px;
                display: flex;
                height: 420px;
                flex-direction: column;
                overflow: hidden;

                & > .header {
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: column;

                    & > .name {
                        font-size: 20px;
                        margin: 2px $item-inner-padding 0 $item-inner-padding;
                        color: $black;
                        height: 30px;
                        text-align: center;
                        font-weight: bold;
                        margin-bottom: 6px;
                    }
                    & > .logo-container {
                        background-color: rgba(230, 234, 238, 0.35);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 100%;
                        height: 120px;
                        cursor: pointer;

                        & > .logo {
                            & > img {
                                max-width: 100%;
                                max-height: 118px;
                            }
                        }
                    }
                }
                .field {
                    padding: 4px 10px;
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    flex: 1;
                    line-height: 1.1em;
                    & > .field-name {
                        font-weight: bold;
                        margin: 0;
                    }

                    &.specialities {
                        & > li.specialty {
                        }
                    }
                }
            }
        }
    }
}
