$pale-grey: #f0f8fa;
$white-05: rgba(255, 255, 255, 0.05);
$white-15: rgba(255, 255, 255, 0.15);
$white-85: rgba(255, 255, 255, 0.85);
$bluish: #2b86b2;
$black: #212121;
$black-20: rgba(0, 0, 0, 0.2);
$black-80: rgba(33, 33, 33, 0.8);
$black-10: rgba(33, 33, 33, 0.1);
$tangerine: #ff9514;
$twilight-blue: #0d3459;
$twilight-blue-10: rgba(13, 52, 89, 0.1);
$twilight-blue-50: rgba(13, 52, 89, 0.5);
$nice-blue: #1474a4;
$nice-blue-50: rgba(46, 105, 134, 0.5);
$nice-blue-60: rgba(20, 116, 164, 0.6);
$nice-blue-20: rgba(20, 116, 164, 0.2);
$nice-blue-80: rgba(20, 116, 164, 0.8);
$nice-blue-10: rgba(20, 116, 164, 0.1);
$shamrock-green: #00c764;
$greyish: #b7b7b7;
$darker-greyish: #b0b0b0;
$mid-blue: #2970aa;
$faded-blue: #70aac6;
$pumpkin: #f07c00;
$light-blue-grey: #bfe2eb;
$light-blue-grey-two: #c4dce8;
$light-blue-grey-three: #d0e3ed;
$white-two: #e8e8e8;
$cobalt: #1d4c84;
$light-teal: #9dd3e3;
$light-navy: #176498;
$cobalt-two: #1b578e;
